

*{
    box-sizing: border-box;
  }

body{
  margin: 0px;
  font-family: "Open Sans", sans-serif;
}
h1, ul, p, h2{
  margin: 0px;
}

ul{
  padding: 0px;
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}
img{
  max-width: 100%;
  box-sizing: border-box;
  max-width: 100%;
  
}
.header-bg{
   background: rgba(6, 12, 34, 0.9);  
  height: 130px;
}
.header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin: 20px;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.logo{
  max-width: 180px;
  z-index: 1000;
}
.header-menu{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.header-menu a {
  padding: 16px 0;
  display: inline-block;
  color: #fff;
  font-size: 18px;
  position: relative;
}
.header-menu a:after{
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background: #ae81ff;
  margin-top: 4px;
  position: absolute;
}
.header-menu a:hover:after{
  width: 100%;
  transition: 0.3s;
}
/* Final header */
/* Início introducao */

.introducao-bg{
  display: grid;
  background: url(../img/cat.jpg) no-repeat center;
  position: relative;
  height: 100vh;
  color: #fff;
 }
 .introducao-bg::before{
  content:"";
  background: rgba(6, 12, 34, 0.1);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0; 
}
.introducao{
  display:grid;
  
}
.introducao .introducao-conteudo{
  display: grid;
  grid-area: 1/1;
  place-self: center;
  z-index: 1000;
  place-items: center;
  position: absolute;
  top: 380px;
}
.introducao-conteudo h1{
  text-transform: uppercase;
  font-size: 38px;
  line-height: 44px;
  padding-bottom: 20px;
  border-bottom: 4px solid #ae81ff;
}
.introducao-conteudo p{
  margin-top:20px;
  font-size: 22px;
  line-height: 26px;
  max-width: 600px;
  text-align: center;
}
.introducao-conteudo a{
  display: grid;
  margin-top: 50px;
  background: #ae81ff;
  padding: 10px 40px;
  border-radius: 25px;
  font-weight: 700;
  text-transform: uppercase;
}
.introducao-conteudo a:hover{
  background:rgba(13, 20, 41, 0.8);
  transition: 0.5s ease;
  color: rgba(202, 206, 221, 0.8);
  border: none;
}
/* Final introdução */
/* Início main */
.sobre-bg{
 background: url(../img/about-bg.jpg) no-repeat center;
 position: relative;
}
.sobre-bg::before{
  content:"";
  background: rgba(13, 20, 41, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  
}
.sobre-info{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
  color: rgba(202, 206, 221, 0.8);
  position: relative;
  
  
}
.sobre-1,.sobre-2,.sobre-3{
  margin: 60px 0;
  font-size: 16px;
}
.sobre-1 h1,.sobre-2 h2, .sobre-3 h2{
  margin: 0 0 10px ;
  font-family: 'Raleway';
  font-weight: 700;
  text-transform: uppercase;
}

.sobre-1 h2{
  font-size: 36px;
  line-height: 43px;
}
.sobre-2 h2, .sobre-3 h2{
  font-size:18px;
  line-height: 20px;
}
.sobre-1 p,.sobre-2 p,.sobre-3 p{
  font-family:sans-serif;
  font-size: 14px;
  line-height: 21px;
  margin: 0 0 20px;
}
/* Final main */
/* Serviços */
.servico{
max-width: 1200px;
margin: 60px auto;

}
.servico h1{
  padding: 40px 0;
  margin-bottom: 60px;
  font-size: 18px;
  text-align: center;
  font-size: 36px;
  color: rgb(6, 12, 34);  
  border-bottom: 2px solid #ae81ff;
}
.servico-container{
  display: flex;
  flex-wrap: wrap;
}
.servico-item{
flex: 1 1 280px;
margin: 20px 10px;
}
.servico-item h2{
  font-size: 36px;
  color: #a4a4a4;
}
.servico-item h2::before{
  content:"" ;
  display: inline-block;
  width: 8px;
  height: 30px;
  margin-right: 10px;
}
.servico-item:nth-of-type(3n+1) h2::before{
  background: #ae81ff;
}
.servico-item:nth-of-type(3n+2) h2::before{
  background: #f9265e;
}
.servico-item:nth-of-type(3n+3) h2::before{
  background: #66d9eb;
}
.servico-item p{
  font-size: 20px;
  line-height: 1.4;
  color: #7c7c7c;
}




















/* Início media */
@media (max-width: 800px){
  .header-menu{
    gap: 20px;
    justify-content: center;

  }
  .header-menu a {
   padding: 10px;

  } 
  .header-menu a:hover{
    border: 2px solid #84e;
    border-radius: 20px;
    transition: 0.09s ease;
  }
  .header a:after{
    display: none;
  }
  .introducao-bg{
    background: url(../img/cat_800.jpg) no-repeat center;
    max-height: 80vh;
   }
   .header-bg{
    height: 200px;
 }
    .introducao .introducao-conteudo{
  top: 250px;
  }
   .introducao-conteudo p,.introducao-conteudo h1{
    max-width: 280px;
    font-size: 14px;
   }
   .introducao-conteudo h1{
    font-size: 18px;
    line-height: 21px;
   }
   .introducao-conteudo h1:after{   
    height: 2px;
    margin-top: 8px;
  }
  .sobre-info{
    display: grid;
    grid-template-columns: 1fr ;
    max-width: 800px;
    margin: 0 10px;
    place-items: center;
    text-align:center;
    
  }
  .sobre-1,.sobre-2,.sobre-3{
    display: grid;
    margin: 10px 0;
    font-size: 16px;
    place-items: center;
    max-width: 280px;
  }
}
@media (max-width:600px){
  .header{
    justify-content: center;
  }
  .header-menu{
    gap: 12px;
  }
  .header-menu a{
    padding: 8px 12px;
    font-size: 14px;
  }
}
